body {
  text-align: center;
  background-color: #011F3F;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  2% 5% 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}
